.trip-component-title {
    text-align: center;
    font-size: 36px;
    line-height: 60px;
    color: $proj-colour-06;
}

.trip-journey {
    font-family: $font-family-secondary;
    font-size: 1.625rem;
    line-height: 1.875rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    color: $proj-colour-12 !important;
}