// KWA Colours
$proj-colour-kwa-01: #7c2d10;
$proj-colour-kwa-02: #401708;
$proj-colour-kwa-03: #622c15;
$proj-colour-kwa-04: #b84318;
$proj-colour-kwa-05: #220c04;
$proj-colour-kwa-06: #f0ece3;
$proj-colour-kwa-07: #c6c6c6;
