.trip-priceandbooking {
    &__book {
        &__summary-form {
            @include breakpoint(sm) {
                margin-bottom: 2.5rem;
            }
        }

        &__summary {
            @include card();
            margin-bottom: 2.125rem;

            @include breakpoint(sm) {
                margin-right: .9375rem;
            }

            &__section {
                border-top-width: 1px;
                border-top-style: solid;
                padding: 1rem;
            }

            &__trigger {
                display: block;

                &:hover,
                &:active,
                &:focus {
                    text-decoration: none;
                }

                &[aria-expanded='false'] &__title-hide,
                &[aria-expanded='true'] &__title-show {
                    display: none;
                }

                @include breakpoint(sm) {
                    pointer-events: none;
                    cursor: default;

                    &::after {
                        display: none;
                    }
                }

                &__title {
                    padding: 1.25rem 2.1875rem;
                    text-transform: capitalize;
                    font-size: inherit;
                    line-height: 1.5625rem;
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }

            &__expandable-body {
                @include breakpoint(sm) {
                    height: auto !important; // override collapse behaviour
                    display: block !important; // override collapse behaviour
                }
            }

            &__trip-name {
                font-size: 1.75rem;
                line-height: 2.25rem;
                text-transform: none;
                margin-top: 1.375rem;
                margin-bottom: 1rem;
            }

            &__trip-code {
                margin-top: 1rem;
                margin-bottom: .625rem;
                font-size: 1rem;
            }

            &__package-title {
                text-transform: none;
                font-size: 1.125rem;
                margin-left: 1rem;
                margin-right: 1rem;
            }

            &__narrow-divider {
                margin-top: 1.5625rem;
                margin-bottom: 1rem;
                width: 30%;
            }

            &__details {
                text-transform: none;
                font-size: 1.15rem;
                margin-top: .625rem;
            }

            &__back-to-start {
                display: block;
                margin-top: 1rem;
                margin-bottom: 1rem;
                text-decoration: underline;
            }

            &__promo-heading {
                text-transform: none;
            }

            &__promo-title {
                text-transform: uppercase;
                font-size: 1.125rem;
                margin-top: 0;
                margin-bottom: .625rem;
                line-height: normal;
            }

            &__deposit {
                &__title {
                    margin-top: .15rem;
                    text-transform: none;
                }

                &__narrow-divider {
                    width: 30%;
                    margin-top: 1.15rem;
                    margin-bottom: 1.15rem;
                }
            }

            &__original-price {
                &__description {
                    line-height: normal;
                    margin-top: .5rem;
                    margin-bottom: .5rem;
                }

                &__value {
                    text-decoration: line-through;
                }
            }

            &__total {
                &__description {
                    text-transform: none;
                    margin-bottom: .625rem;
                }

                &__value {
                    text-transform: none;
                    font-size: 2rem;
                }
            }

            &__surcharge-note {
                display: block;
                font-size: .875rem;
            }

            &.payment-summary {
                display: none;
            }
        }

        &__conversion {
            @include card();

            &__total-adults {
                color: $proj-colour-06;
                margin-top: 0;
            }

            &__price {
                color: $proj-colour-06;
                font-family: $font-family-secondary;
            }

            &__deposit-amount {
                font-size: 1.125rem;
                margin-bottom: 0;
                font-family: $font-family-secondary;
            }

            &__deposit-note {
                margin-top: .5rem;
                margin-bottom: 1.25rem;
            }

            &__book {
                width: 22rem;
                max-width: 100% !important;
                line-height: 2.5rem !important;
                min-width: 0 !important;
                margin-bottom: 1.25rem;

                @include breakpoint(xxs-max) {
                    width: 18rem;
                }

                @include breakpoint(sm) {
                    width: 16rem;
                }

                @include breakpoint(md) {
                    width: 22rem;
                }
            }

            &__surcharge-note {
                display: block;
            }
        }

        &__action-panel {
            @include card();
            @include card-padding();
            text-align: center;
            margin-top: 2.125rem;
            margin-bottom: 2.125rem; // let the box shadow visible
            margin-right: .9375rem;
            display: block !important; // Used to display panel on mobile
            &__heading {
                text-transform: none;
                color: $proj-colour-05;
                margin-top: 0;
                margin-bottom: 1.25rem;
            }

            &__note {
                font-size: 1.125rem;
                margin-bottom: 1.25rem;
            }

            &__phone {
                padding: 1rem;
                margin-top: $card-padding;

                &__title {
                    color: $proj-colour-05;
                    margin-bottom: 0;
                }

                &__number {
                    margin-top: 0;
                    margin-bottom: 0;

                    a {
                        color: inherit;
                    }

                    [class*='icon-'] {
                        position: relative;
                        top: 1px;
                        margin-right: 0;
                    }
                }
            }

            .booking-container__body & {
                margin-top: 3.375rem;

                @include breakpoint(sm) {
                    margin-top: 2.125rem;
                }
            }
        }

        &__summary + &__action-panel {
            display: none;

            @include breakpoint(sm) {
                display: block;
                margin-right: .9375rem;
            }
        }

        &.step-3 {
            .payment-summary {
                display: block !important;
            }
        }
    }

    &__confirmation {
        margin-left: auto;
        margin-right: auto;
        max-width: 34.75rem;

        &-wrapper {
            @include card();
        }

        &__thanks {
            @include card-padding();
        }

        &__secure-trip {
            @include card-padding();
            border-top-width: 1px;
            border-top-style: solid;

            &__deposit-amount {
                font-family: $font-family-secondary;
            }

            &__book {
                max-width: 100% !important;
                line-height: 2.5rem !important;
                min-width: 0 !important;
                margin: 1.125rem 0 1.25rem;
            }
        }

        &__info {
            font-size: 1.125rem;
        }

        &__start-over {
            margin-top: 2.563rem;
            max-width: 17.5rem;
        }

        &__icon[class*='icon-'] {
            font-size: 6.25rem;
            display: inline-block;

            .trip-priceandbooking__booking-step.is-active & {
                opacity: 0;
                animation-name: bounceIn;
                animation-fill-mode: forwards;
                animation-duration: .75s;
                animation-delay: .5s;
            }
        }
    }

    &__payment-section,
    &__form-section {
        text-align: left;
    }

    &__booking-step {
        padding-top: 0.25rem;
    }

    &__snackbar {
        display: none;
        position: fixed;
        bottom: 0;
        height: 5.125rem;
        width: 100%;
        padding: 0.625rem;
        background: $proj-colour-02;
        color: $proj-colour-15;
        font-family: $font-family-secondary;
        font-size: .975rem;
        line-height: 3.875rem;
        text-align: left;

        @include breakpoint(sm) {
            height: 3.125rem;
            line-height: 1.875rem;
            width: 36rem;
            left: 50%;
            margin-left: -18rem;
        }

        span {
            position: absolute;
            max-width: 71%;
            line-height: 1.5rem;
            top: 50%;
            margin-top: -1.5rem;

            @include breakpoint(sm) {
                position: static;
            }
        }

        &__btn {
            position: relative;
            float: right;
            margin-left: .625rem;
            top: 50%;
            margin-top: -1rem;
        }

        &__icon {
            position: relative;
            vertical-align: middle;
            line-height: inherit;
            font-size: 1.5rem;
            margin-right: 0.5rem;

            @include breakpoint(sm) {
                margin-right: 0.25rem;
            }

            &:before {
                @include icon(icon-border-tick);
                color: $proj-colour-15;
            }
        }
    }
}
