// Colour collections to be used by style-guide
$color-collection: ($proj-colour-01, $proj-colour-02, $proj-colour-03, $proj-colour-04, $proj-colour-05, $proj-colour-06, $proj-colour-07, $proj-colour-08, $proj-colour-09, $proj-colour-10, $proj-colour-11, $proj-colour-12, $proj-colour-13, $proj-colour-14, $proj-colour-15, $proj-colour-16, $proj-colour-17, $proj-colour-18, $proj-colour-19, $proj-colour-20, $proj-colour-21, $proj-colour-22, $proj-colour-23, $proj-colour-24 );
$bg-color-collection: ();

$secondary-background-colour: $proj-colour-12;