$mobile-back-to-top-margin-top: 0;
$mobile-back-to-top-position: absolute;
$mobile-back-to-top-width: 50px;
$back-to-top-border: 2px solid $proj-colour-02;
$back-to-top-background: none;
$back-to-top-color: $proj-colour-02;
$back-to-top-font-size: 45px;
$back-to-top-width: 65px;
$back-to-top-height: 69px;
$back-to-top-padding: 10px 15px;
$back-to-top-hover-border: 2px solid $proj-colour-06;
$back-to-top-border-radius: 5px;
$back-to-top-box-shadow: none;