$button-text-primary: $proj-colour-15;
$button-text-secondary: $proj-colour-12;
$button-text-tertiary: $proj-colour-05;
$button-text-quaternary: $proj-colour-18;

$button-bg-primary: $proj-colour-02;
$button-bg-primary--hover: $proj-colour-03;

$button-bg-secondary: $proj-colour-06;
$button-bg-secondary--hover: $proj-colour-07;

$button-bg-tertiary: $proj-colour-14;
$button-bg-tertiary--hover: $proj-colour-02;

$button-bg-quaternary: $proj-colour-15;

$button-bg-quinary: $proj-colour-14;
$button-bg-quinary--hover: $proj-colour-18;

$button-bg-senary: $proj-colour-12;
$button-bg-senary--hover: $proj-colour-34;