// Theme colours.
$proj-colour-01: #84744f;
$proj-colour-02: #a19261;
$proj-colour-03: #c8bda0;
$proj-colour-04: #b19159;
$proj-colour-05: #04183b;
$proj-colour-06: #1a3265;
$proj-colour-07: #6789ab;
$proj-colour-08: #656d96;
$proj-colour-09: #b8182a; // Darker Red
$proj-colour-10: #d32a25; // Lighter Red
$proj-colour-11: #000; // Black
$proj-colour-12: #8b8b8b;
$proj-colour-13: #bebebe;
$proj-colour-14: #f4f4f4; // Off-white
$proj-colour-15: #fff; // White

// need to revisit
$proj-colour-16: #b1b1b0;
$proj-colour-17: #d2d2d2;
$proj-colour-18: #979797;
$proj-colour-19: #ffc71f; // PayPal yellow
$proj-colour-20: #638aab;
$proj-colour-21: #e0e0df;
$proj-colour-22: #638aab;
$proj-colour-23: #efefef;
$proj-colour-24: #e6e6e6;
$proj-colour-25: #e5e5e5;
$proj-colour-26: #959595;
$proj-colour-27: #4d4f53;
$proj-colour-28: #b6a881;
$proj-colour-29: #8893a7;
$proj-colour-30: #d7d7d7;
$proj-colour-31: #f09f33;
$proj-colour-32: #e6b31c;
$proj-colour-33: #d9d9d9;
$proj-colour-34: #bcbcbc;
$proj-colour-35: #516989;
$proj-colour-36: #ddd;
$proj-colour-37: #cabca2;
$proj-colour-38: #eaeaea;
$proj-colour-39: #919191;

$proj-colour-danger: #db301a;
$proj-colour-danger-bg: #eddbdc;
$proj-colour-success: #18af30;
$proj-colour-success-bg: #dbe9db;
$color-kwa: #9c3026;
$color-botanica: #007066;

$color-white: $proj-colour-15;
$color-black: $proj-colour-11;
$color-background-gray: $proj-colour-14;

// KWA Colours
$proj-colour-kwa-01: #7c2d10;
$proj-colour-kwa-02: #401708;
$proj-colour-kwa-03: #622c15;
$proj-colour-kwa-04: #b84318;
$proj-colour-kwa-05: #220c04;
$proj-colour-kwa-06: #f0ece3;
$proj-colour-kwa-07: #c6c6c6;
