// Global Navigation

$global-nav-text-colour: #99b1be;
$global-nav-text-colour-hover: #fff;

//$global-nav-search-bg-colour: #144b69;
$global-nav-search-text-colour: #fff;

$global-nav-icon-colour: #e5ebee;
$global-nav-icon-colour-hover: #e5ebee;

$global-nav-number-colour: #fff;

$global-nav-placeholder-colour: #c0cfd6;
 



