$loading-spinner-small-image: '/assets/images/Phoenix/APT/apt-loading-50px.gif';
$loading-icon: icon-apt-logo;
$loading-spinning-icon: icon-loading-spin;

$loading-font-size: 50px;
$loading-font-spinner-size: 50px;

$loading-font-size-large: 100px;
$loading-font-spinner-size-large: 100px;