$hamburger-open-color: $proj-colour-15;
$hamburger-closed-color: $proj-colour-02;
$hamburger-width: 28px;
$hamburger-height: 28px;
$hamburger-line-height: 5px;
$hamburger-border-radius: 0;
$hamburger-margin-bottom: 0;

$badge-padding: 0 .9375rem;
$badge-font-size: .9375rem;
$badge-primary-background: $proj-colour-06;
$badge-large-font-size: 1.5rem;
$badge-large-padding: .9375rem 2.5rem;

$booking-form-summary-top-border-colour: 1px solid $proj-colour-13;