$navbar-mobile-color-primary: $proj-colour-15;
$navbar-mobile-color-secondary: $proj-colour-02;
$navbar-mobile-font: $font-family-primary;
$navbar-mobile-icon-horizontal-padding: 30px;
$navbar-mobile-icon-top-padding: 25px;
$navbar-mobile-button-width: 30px;
$navbar-mobile-background-color: $proj-colour-15;
$navbar-mobile-nav-menu-background-color: $proj-colour-15;
$navbar-mobile-open-header-height: 125px;